nav:
#  - 'index.md'
  #  - 'Eindgebruikers':
  - 'Voor gebruikers':
      - 'docs/functionaliteiten/wat-is-netherlands3d.md'
      - 'docs/functionaliteiten/functionaliteiten-overzicht.md'

      - '3D-viewer':
          - 'Algemeen': 'docs/handleiding/3D-viewer.md'
          - 'Startscherm':
              - 'docs/handleiding/3D-viewer-locatie-bepalen.md'
              - 'docs/handleiding/3D-viewer-functionaliteiten.md'
              - 'docs/handleiding/3D-viewer-instellingen-sub.md'

          - 'Werkruimte':
              - 'Werkbalk':
                  - 'Zoekfunctie': 'docs/handleiding/zoeken.md'
                  - 'Object informatie': 'docs/handleiding/object-informatie.md'
                  - 'Ondergrond doorzicht': 'docs/handleiding/ondergrond-doorzicht.md'
                  - 'Lagen':
                      - 'Algemeen': 'docs/handleiding/lagen.md'
                      - 'Menu linksboven': 'docs/handleiding/lagen/#menu-linksboven'
                      - 'Standaardlagen': 'docs/handleiding/lagen/#standaardlagen'
                      - 'Laagvolgorde': 'docs/handleiding/lagen/#laagvolgorde'
                      - 'Tonen/verbergen': 'docs/handleiding/lagen/#tonenverbergen'
                      - 'Transformatie-tool': 'docs/handleiding/lagen/#transformatie-tool'
                      - 'Eigenschappen': 'docs/handleiding/lagen/#eigenschappen'
                      - 'Kleurenpaneel': 'docs/handleiding/lagen/#kleurenpaneel'
                      - 'Afgeschermde bronnen': 'docs/handleiding/lagen/#afgeschermde-bronnen'
                  - 'Lagen toevoegen':
                      - 'Algemeen': 'docs/handleiding/lagen-toevoegen.md'
                      - 'Importeren': 'docs/handleiding/toevoegen-importeren.md'
                  - 'Zonnestand': 'docs/handleiding/zonnestand.md'
                  - 'Gebied downloaden': 'docs/handleiding/gebied-downloaden.md'
                  - 'Menu (linksonder)': 
                      - 'docs/handleiding/lagen-toevoegen/#menu-linksonder'
                      - 'docs/handleiding/project-openen-opslaan.md'
                      - 'Bibliotheek':
                         - 'Algemeen': 'docs/handleiding/bibliotheek-basis.md'
                         - 'Fotorealistische wereld': 'docs/handleiding/toevoegen-fotorealistische-wereld.md'
                         - 'Basislagen': 'docs/handleiding/toevoegen-basislagen.md'
                         - 'Tekengebieden': 'docs/handleiding/toevoegen-selectiegebied.md'
                         - '3D Tiles': 'docs/handleiding/toevoegen-3d-tiles.md'
                         - 'Urban Releaf': 'docs/handleiding/toevoegen-urban-releaf.md'
                         - 'Objecten': 'docs/handleiding/toevoegen-objecten-biep.md'                                           
                      - 'Organiseren': 'docs/handleiding/lagen-toevoegen/#organiseren'
                      - 'Verwijderen': 'docs/handleiding/lagen-toevoegen/#verwijderen'                  

              - 'Applicatiebalk':
                  - 'Schermafbeelding maken': 'docs/handleiding/3D-viewer#schermafbeelding-maken'
                  - 'docs/handleiding/3D-viewer-instellingen.md'
                  - 'Informatie': 'docs/handleiding/3D-viewer#informatie'

              - 'Weergave en informatie':
                  - 'Orientatie en Mini-map': 'docs/handleiding/3D-viewer/#orientatie-en-mini-map'
                  - 'Weergave naar noorden draaien': 'docs/handleiding/3D-viewer/#weergave-naar-noorden-draaien'
                  - 'Orthografisch/perspectief': 'docs/handleiding/3D-viewer/#orthografischperspectief'
                  - 'Mini-map': 'docs/handleiding/3D-viewer/#mini-map'
                  - 'Positie': 'docs/handleiding/3D-viewer/#mini-map'
                  - 'docs/handleiding/first-person-viewer.md'

          - 'Navigeren': 'docs/handleiding/3D-viewer/#navigeren'

      - 'Homepage':
          - 'Algemeen': 'docs/handleiding/homepage.md'
          - 'Hoofdstukken': 'docs/handleiding/homepage#hoofdstukken'
          - 'Zoeken': 'docs/handleiding/homepage#zoeken'

      - 'Voorbeelden voor eindgebruikers':
        - 'docs/voorbeelden/wms-wfs.md'
        - 'docs/voorbeelden/3d-tiles-importeren.md'

  - 'Voor organisaties':
      - 'docs/organisations/netherlands3d-platform.md'
      - 'Keuzehulp': 'docs/organisations/netherlands3d-platform#keuzehulp'
      - 'Ondersteuning':
          - 'docs/organisations/cors.md'
      - 'Verantwoording':
          - 'docs/organisations/solarstudy-calculation.md'
  - 'Voor ontwikkelaars':
      - 'docs/developers/introduction.md'
      - 'Platform':
        - 'Platform Overview': 'docs/developers/platform-architecture.md'
        - 'docs/developers/functionalities.md'
      - 'Guides':
          - 'docs/developers/quickstart.md'
          - 'docs/developers/guides/loading-a-custom-project-file.md'
          - 'Layers':
              - 'docs/developers/adding-a-simple-type-of-layer.md'
              - 'docs/developers/adding-behaviour-to-a-layer-with-data.md'
              - 'docs/developers/guides/asset-bundles.md'
          - 'Styling':
              - 'docs/developers/guides/how-to-color-parts-of-the-terrain.md'
              - 'docs/developers/guides/adding-styling-support-to-layers.md'
          - 'docs/developers/guides/dealing-with-cors-issues.md'
          - 'docs/developers/guides/troubleshooting-build-pipeline-failures.md'
      - 'Explanation':
        - 'docs/developers/build-pipeline.md'
        - 'Core Concepts': 'docs/developers/core-concepts.md'
        # - 'docs/developers/architecture.md'
        - 'docs/developers/projects.md'
        - Layers:
          - "Overview": 'docs/developers/layers.md'
          - "Styling": 'docs/developers/styling.md'
          - 'docs/developers/layers-with-authentication.md'
        - 'Features':
            - 'docs/developers/features/embedding.md'
            - 'docs/developers/features/floating-origin.md'
            - 'docs/developers/features/geojson.md'
        - 'User interface':
            - 'docs/developers/ui/introduction.md'
            - 'docs/developers/ui/understanding-blocks.md'
            - 'docs/developers/ui/understanding-components.md'
      - 'Reference':
        - 'Architectural Decisions':
            - 'docs/developers/decisions/index.md'
            - 'docs/developers/decisions/20241009-styling-of-layers.md'
        - 'User interface':
            - 'Blocks':
                - 'docs/developers/ui/blocks/property-panel-and-sections.md'
            - 'Components':
                - 'docs/developers/ui/components/accordion.md'
                - 'docs/developers/ui/components/cards.md'
                - 'docs/developers/ui/components/sliders.md'
                - 'docs/developers/ui/components/double-sliders.md'
                - 'docs/developers/ui/components/text-fields.md'
      - 'Testing':
          - 'docs/developers/testing/ogc-webservices.md'
          - 'docs/developers/testing/3d-models.md'
      - 'Contributing':
          - 'docs/developers/contributing/coding-standards.md'
          - 'Documentation':
              - 'Overview': 'docs/developers/contributing/documentation.md'
              - 'docs/developers/contributing/writing-guides.md'
              - 'docs/developers/contributing/writing-explanation-pages.md'
#  - 'Artikelen':
#      - 'articles/index.md'
#  - 'Over ons':
#      - 'about-us/index.md'

# Draft articles that should be visible when locally building and to have a nav entry, but unavailable in the
# build
# https://www.mkdocs.org/user-guide/configuration/#draft_docs
draft_docs: |
  about-us/index.md
  docs/developers/ui/locating-components-in-unity.md

# Includes, starting with an underscore - https://www.mkdocs.org/user-guide/configuration/#not_in_nav
not_in_nav: |
  index.md
  _*.md

site_name: "" # Empty on purpose for style purposes
theme:
  name: material
  logo: images/logo.png
  favicon: images/favicon.ico
  language: nl
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.instant
    - navigation.path
    - navigation.footer
    - navigation.tracking
    - content.tabs.link

extra_css:
  - stylesheets/extra.css

plugins:
  - search:
  - blog:
      blog_dir: articles
      categories_url_format: "{slug}"

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.blocks.html
  - pymdownx.blocks.caption
  - pymdownx.snippets
  - pymdownx.tilde
  - pymdownx.highlight
  - def_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
