@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root, [data-md-color-scheme=default] {
    --md-default-fg-color: #323955;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3
{
    font-family: 'Instrument Sans', sans-serif;
}

.md-content .md-typeset h1 {
    position: relative;
    margin-bottom: 1.5rem;
}

.md-content .md-typeset h1:after {
    content: "";
    background: #E57373;
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 3px;
    width: 50%;
}


.md-typeset h2 {
    margin-top: 2rem;
}

.md-tabs__item.md-tabs__item--active {
    color: #E57373;
}

/*****************************************************************************/
/** Navigation sidebar *******************************************************/
/*****************************************************************************/

.md-nav {
    font-size: 0.7rem;
}

/* Section header in "navigation" sidebar */
.md-nav--lifted>.md-nav__list>.md-nav__item>[for] {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 0.8rem;
    color: #E57373;
}

/* Section header in "navigation" sidebar */
.md-nav__item--section>.md-nav__link[for] {
    font-family: 'Instrument Sans', sans-serif;
}

/*****************************************************************************/
/** Full-width tricks ********************************************************/
/*****************************************************************************/

.md-container {
    /**
    We use tricks to create a full-width background color,
    but hiding the overflow prevents the page from breaking
    **/
    overflow: hidden;
}

.md-header__button.md-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.md-header__button.md-logo img {
    height: 1.8rem;
}

/*****************************************************************************/
/** NAV **********************************************************************/
/*****************************************************************************/

@media screen and (min-width: 768px) {
    .md-header {
        padding-top: .75rem;
        padding-bottom: .25rem;
    }
    .md-header__inner {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

/*****************************************************************************/
/** HERO *********************************************************************/
/*****************************************************************************/

.hero {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    background-image: url('../images/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
}

.hero p {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 425px) {
    .hero {
        margin: 0 calc(50% - 50vw) -3rem;
        position: relative;
        top: -2.5rem;
    }
}

/*****************************************************************************/
/** HERO Teaser **************************************************************/
/*****************************************************************************/

.teaser {
    background: var(--md-primary-fg-color);
}

.teaser h1 {
    display: none;
}

@media screen and (min-width: 425px) {
    .teaser {
        margin-top: 0;
        position: absolute;
        top: 15vw;
        padding: .75rem 1.5rem .75rem;
        max-width: 20rem;
        border-radius: .25rem;
        border: 1px solid var(--md-default-fg-color--lightest);
    }
}

@media screen and (min-width: 768px) {
    .teaser {
        top: 7.5vw;
    }
}

@media screen and (min-width: 1220px) {
    .teaser {
        top: 10vw;
    }
}

/*****************************************************************************/
/** Photo Cards - Grid Cards with photos filling the card to the border ******/
/*****************************************************************************/

.photo-cards {
    li > p:first-of-type {
        margin: -.8rem -.8rem 0 -.8rem;
        margin-top: -.8rem !important;
    }
}

/*****************************************************************************/
/** Full Width Colored Sections **********************************************/
/*****************************************************************************/

.full-width {
    position: relative;
    padding: 1rem 0;
}

.full-width::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50vw;
    right: -50vw;
    background-color: #f7f7f7;
    z-index: -1;
}

.md-content__inner > .full-width:last-child {
    margin-bottom: -2rem;
}


/*****************************************************************************/
/** Specialised styling for the 'In Samenwerking Met' card section ***********/
/*****************************************************************************/

.in-cooperation-with {
    /* make sure heading padding doesn't collapse, but don't add a significant padding ourselves */
    padding-top: 0.1rem;
    margin-top: 2.5rem;
}
.md-typeset .in-cooperation-with__partners {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
}
.md-typeset .in-cooperation-with__partners li {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.md-typeset .in-cooperation-with__partners img {
    max-height: 150px;
    filter: grayscale(100%);
    opacity: 0.6;
}
.md-typeset .in-cooperation-with__partners img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/*****************************************************************************/
/** Two column flex layout ***************************************************/
/*****************************************************************************/

.two-column {
    display: flex;
    flex-direction: column;
}

.two-column + .two-column {
    margin-top: 1.5rem;
    border-top: 2px dotted var(--md-default-fg-color--lighter);
    padding-top: 1.5rem;
}

.two-column.minimal + .two-column {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
}

@media screen and (min-width: 768px) {
    .two-column {
        gap: 2rem;
        flex-direction: row;
    }

    .two-column.minimal > * {
        flex: 0 0 50%;
    }

    .two-column h2,
    .two-column h3
    {
        flex: 0 0 16.66667%;

        margin-top: .7rem;
        padding-top: 0;
    }
}
